# pandas: Exercises
-  We will use the Occupation data set provided by Kevin Markham https://github.com/justmarkham.

In [1]:
# import pandas
import pandas as pd
from pandas import Series, DataFrame
# import Numpy
import numpy as np

## Load the Data Set

In [3]:
# load the data set
data = pd.read_csv('Occupation.csv', index_col = 'user_id')

## Explore Data

### 1. Show the first five observations.

In [4]:
pass
data.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

### 2. How many rows are there in the data set?

In [6]:
pass
data.shape[0]

943

### 3. How many columns are there in the data set?

In [7]:
pass
data.shape[1]

4

### 4. Is there any missing value in the data set?

In [27]:
pass
data.isnull().any().any()

False

### 5. Output the column names.

In [16]:
pass
data.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### 6. Output the 100th subject's index.

In [28]:
pass
data.index[99]

100

### 7. How old is the 15th subject?

In [32]:
pass
data.loc[15, 'age']

49

### 8. How many subjects are younger than 25 years old?

In [34]:
pass
np.sum(data.age < 25)

234

## Aggregate Data

### 9. How many different occupations are there in the data set?

In [39]:
pass
data.occupation.unique().size

21

### 10. What is the most frequent occupation?

In [42]:
pass
data.occupation.value_counts().index[0]

'student'

### 11. What is the mean age of the subjects?

In [43]:
pass
data.age.mean()

34.05196182396607

### 12. What is the occupation of the oldest subject?

In [49]:
pass
data.occupation[data.age.idxmax()]

'retired'

### 13. What is the least frequent occuptation among the male subjects?

In [52]:
pass
data[data.gender == 'M'].occupation.value_counts().index[-1]

'homemaker'

### 14. What is the mean age of each occupation?

In [53]:
pass

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
3         23      M         writer    32067
4         24      M     technician    43537
6         42      M      executive    98101
7         57      M  administrator    91344
...      ...    ...            ...      ...
936       24      M          other    32789
937       48      M       educator    98072
940       32      M  administrator     2215
941       20      M        student    97229
943       22      M        student    77841

[670 rows x 4 columns]