# pandas: A Short Tutorial
-  pandas contains data structures and data manupulation tools for fast and easy data cleaning and analysis. 
-  pandas is often used in tandem with Numpy, scikit-learn and matplotlib. 
-  pandas is designed for working with tabular or heterogeneous data, while Numpy is best suited for working with homegeneous numerical array data.

In [1]:
# import pandas
import pandas as pd
from pandas import Series, DataFrame
# import Numpy
import numpy as np

## pandas Data Structures

### Series
-  A Series is a one-dimensional array-like object containing a sequence of values and data labels (index).
-  Attributes
    - .index returns an *Index* object
    - .values returns an ndarray

In [ ]:
# a simple Series; a default index 0 to 3
obj = Series([1, -2, 3, -4])
obj

In [ ]:
# creating a Series with an index
aobj = Series([1, -2, 3, -4], index = ['a', 'c', 'b', 'd'])
aobj

In [ ]:
# Index objects are immutable
print(aobj.index)
aobj.index[1:]

In [ ]:
# similar to a dictionary
'a' in aobj

In [ ]:
# insert an object
aobj['e'] = 5
aobj

In [ ]:
# delete an object
del aobj['e']
aobj

In [ ]:
# data retrieval by label
print(aobj['c'])
aobj[['a', 'b', 'c']]   # a list of indices

In [ ]:
# slicing by label
aobj['a':'b']     # the last label is inclusive!

In [ ]:
# data retrieval by integer position
print(aobj[1])
# slicing
aobj[:2]   # the last integer position is exclusive!

In [ ]:
# revising index
aobj.index = ['e', 'g', 'h', 'f']
aobj

In [ ]:
# .values attribute
aobj.values    # a numpy 1-d array

In [ ]:
# filtering
aobj[aobj > 0]

In [ ]:
# vectorization
aobj * 2

In [ ]:
# numpy universal function
np.abs(aobj)

In [ ]:
# converting a dictionary to a Serie
sdict = {'Mike': 3.4, 'Mary': 3.8, 'David': 3.0, 'Jack': 2.75}
sobj = Series(sdict)
sobj

In [ ]:
# NaN = missing values
sobj2 = pd.Series(sdict, index = ['Alex', 'David', 'Jack', 'Mary'] )
sobj2

In [ ]:
# isnull() and notnull() detect missing values
print(pd.isnull(sobj2))
print(pd.notnull(sobj2))
sobj2.isnull()

In [ ]:
# data alignment 
(sobj + sobj2)/2

In [ ]:
# .name property
sobj.name = 'GPA'
sobj.index.name = 'Student'
sobj

### DataFrame
-  A DataFrame represents a (two-dimensional) table of data.
-  The DataFrame has both a row and a column index.
-  Attributes
    - .index returns the row index
    - .columns returns the column index
    - .values returns the data as an ndarray

In [ ]:
# creating a DataFrame from a dictionary
adict = {'name': ['Mary', 'Betty', 'Jack', 'Scott', 'David', 'Lily'], 'gender': ['F',
          'F', 'M', 'M', 'M', 'F'], 'gpa': [3.5, 3.1, 2.75, 3.8, 2.9, 2.5]}
adf = DataFrame(adict)
adf

In [ ]:
# head and tail methods
print(adf.head())
adf.tail()

In [ ]:
# NaN = missing values
adf2 = DataFrame(adict, columns = ['name', 'gender', 'gpa', 'major'], 
                    index = ['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])
adf2

In [ ]:
# .columns and .index
print(adf2.columns)
adf2.index

In [ ]:
# a column retrieved as a Series
print(adf2['gpa'])   # by dict-like notation
adf2.gpa    # by attribute

In [ ]:
# multiple columns
print(adf2[['name', 'gpa']])
adf2[adf2.columns[1:3]]

In [ ]:
# a row retrieved as Series by the loc attribute
adf2.loc['S3']

In [ ]:
# multiple rows
print(adf2.loc[['S1', 'S3']])
print(adf2[1:3])
(adf2['S1':'S3'])   # the last label is inclusive!

In [ ]:
# adding a column by assignment
adf2['honor'] = adf2.gpa >= 3.5
adf2

In [ ]:
# revising a column
major = Series(['MGT', 'MGT', 'ACC', 'FIN', 'FIN', 'ACC'], 
                 index = ['S1', 'S3', 'S4', 'S6', 'S2', 'S5'])
adf2['major'] = major
adf2

In [ ]:
# deleting columns
del adf2['honor']
adf2

In [ ]:
# .values attribute returns data as a two-dimensional ndarray
adf2.values

## Interacting with Data

### Indexing, Selection and Filtering
- Indexing options
    - df[val]  
        - column label or labels: a single column or subset of columns; 
        - boolean array: selected rows;
        - slicing: slicing rows
    - df.loc[val] or df.iloc[where] 
        - a single row or subset of rows
    - df.loc[:, val] or df.iloc[:, where] 
        - a single column or subset of columns
    - df.loc[val_i, val_j] or df.iloc[where_i, where_j]  
        - both rows and columns
   
   
 - .loc for labels and .iloc for integer positions

In [2]:
# Series indexing similar to Numpy array indexing
bobj = Series({val: key for key, val in enumerate('abcde')})
print(bobj)
bobj[1:3]

a    0
b    1
c    2
d    3
e    4
dtype: int64

b    1
c    2
dtype: int64

In [3]:
# Series indexing with index values
bobj[['b', 'c', 'e']]

b    1
c    2
e    4
dtype: int64

In [4]:
# DataFrame indexing by column
bdf = DataFrame({val: [key * m for m in range(4)] for key, val in enumerate('abcde')})
print(bdf)
bdf[['a', 'd']]

   a  b  c  d   e
0  0  0  0  0   0
1  0  1  2  3   4
2  0  2  4  6   8
3  0  3  6  9  12

   a  d
0  0  0
1  0  3
2  0  6
3  0  9

In [5]:
# DataFrame indexing by row
bdf[1:3]

   a  b  c  d  e
1  0  1  2  3  4
2  0  2  4  6  8

In [6]:
# DataFrame masking
bdf[bdf < 5] = 5
bdf

   a  b  c  d   e
0  5  5  5  5   5
1  5  5  5  5   5
2  5  5  5  6   8
3  5  5  6  9  12

In [7]:
# selection both rows and columns with .loc
bdf.loc[[1, 3], ['a', 'e']]

   a   e
1  5   5
3  5  12

In [8]:
# selection by integer position with .iloc
bdf.iloc[[1,3], [2,4]]

   c   e
1  5   5
3  6  12

In [9]:
# slicing
print(bdf.loc[:3, :'d'])    # the last label is inclusive
bdf.iloc[:, :3][bdf.d < 6]    # the last integer position is exclusive

   a  b  c  d
0  5  5  5  5
1  5  5  5  5
2  5  5  5  6
3  5  5  6  9

   a  b  c
0  5  5  5
1  5  5  5

In [44]:
# a single column or subset of columns
print(bdf.loc[:, ['a', 'b']])
bdf.iloc[:, 0:2]

   a  b
0  5  5
1  5  5
2  5  5
3  5  5

   a  b
0  5  5
1  5  5
2  5  5
3  5  5

### Arithmetic Operations and Data Alignment
- Arithmetics between objects with different indexes
    - Index in the result will be the union of the index pairs.
    - Missing values are introduced in the label locations that don't overlap.
- Operations between DataFrame and Series are defined.

In [10]:
# objects with different indexes
df1 = DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = DataFrame({'A': [5, 6]})
print(df1)
print(df2)
df1 + df2    # NA values would be introduced

   A  B
0  1  3
1  2  4
   A
0  5
1  6

   A   B
0  6 NaN
1  8 NaN

In [26]:
# a filled value when an axis label is missing in an object
df1.add(df2, fill_value = 0)

   A    B
0  6  3.0
1  8  4.0

### Function Applications
- Numpy ufuncs also work with pandas objects.
- apply()

In [27]:
cdf = DataFrame(np.random.randn(3, 4), columns = list('abcd'), 
                   index = list('ABC'))
print(cdf)
np.abs(cdf)

          a         b         c         d
A -1.759579  0.070231  1.047574 -0.540636
B  1.088308 -0.511295  0.281202 -0.489357
C  0.175449  0.329813  1.838859 -0.245991

          a         b         c         d
A  1.759579  0.070231  1.047574  0.540636
B  1.088308  0.511295  0.281202  0.489357
C  0.175449  0.329813  1.838859  0.245991

In [28]:
# apply() runs on each column be default
print(cdf.apply(lambda x: x.max() - x.min()))
# apply() runs on each row
cdf.apply(lambda x: x.max() - x.min(), axis = 1)

a    2.847886
b    0.841108
c    1.557656
d    0.294645
dtype: float64

A    2.807153
B    1.599603
C    2.084850
dtype: float64

### Sorting and Ranking
- sort_index()
- sort_values()
- rank()

In [29]:
# sorting by row index
ddf = DataFrame(np.arange(12).reshape((3, 4)), columns = list('bdac'), 
                   index = list('BCA'))
print(ddf)
ddf.sort_index()

   b  d   a   c
B  0  1   2   3
C  4  5   6   7
A  8  9  10  11

   b  d   a   c
A  8  9  10  11
B  0  1   2   3
C  4  5   6   7

In [30]:
# sorting by column index
ddf.sort_index(axis = 1)

    a  b   c  d
B   2  0   3  1
C   6  4   7  5
A  10  8  11  9

In [31]:
# sorting in descending order
ddf.sort_index(ascending = False)

   b  d   a   c
C  4  5   6   7
B  0  1   2   3
A  8  9  10  11

In [37]:
# sorting by a column
print(ddf.sort_values(by = 'a', ascending = False))
ddf

   b  d   a   c
A  8  9  10  11
C  4  5   6   7
B  0  1   2   3

   b  d   a   c
B  0  1   2   3
C  4  5   6   7
A  8  9  10  11

In [33]:
# sorting by multiple columns
edf = ddf.copy()
edf['d'] = 5
print(edf)
edf.sort_values(['d', 'b'], ascending = False)

   b  d   a   c
B  0  5   2   3
C  4  5   6   7
A  8  5  10  11

   b  d   a   c
A  8  5  10  11
C  4  5   6   7
B  0  5   2   3

In [38]:
# ranks assigned
print(edf)
edf.rank()    # from smallest to largest

   b  d   a   c
B  0  5   2   3
C  4  5   6   7
A  8  5  10  11

     b    d    a    c
B  1.0  2.0  1.0  1.0
C  2.0  2.0  2.0  2.0
A  3.0  2.0  3.0  3.0

In [39]:
edf.rank(method = 'max', ascending = False)   # tie-breaking method: highest rank

     b    d    a    c
B  3.0  3.0  3.0  3.0
C  2.0  3.0  2.0  2.0
A  1.0  3.0  1.0  1.0

## Descriptive Statistics

In [43]:
# summary statistics by column
np.random.seed(12345)
fdf = DataFrame(np.random.randn(4, 3), columns = list('abc'), 
                   index = list('ABCD'))
print(fdf)
print()
print(fdf.sum())
print()
print(fdf.mean())
print()
print(fdf.max())
print()
print(fdf.idxmax())   # index

          a         b         c
A -0.204708  0.478943 -0.519439
B -0.555730  1.965781  1.393406
C  0.092908  0.281746  0.769023
D  1.246435  1.007189 -1.296221

a    0.578905
b    3.733659
c    0.346769
dtype: float64

a    0.144726
b    0.933415
c    0.086692
dtype: float64

a    1.246435
b    1.965781
c    1.393406
dtype: float64

a    D
b    B
c    B
dtype: object

In [45]:
# summary statistics by row
fdf.sum(axis = 1)

A   -0.245203
B    2.803456
C    1.143677
D    0.957403
dtype: float64

In [46]:
# multiple summary statistics
fdf.describe()

              a         b         c
count  4.000000  4.000000  4.000000
mean   0.144726  0.933415  0.086692
std    0.780852  0.753312  1.218321
min   -0.555730  0.281746 -1.296221
25%   -0.292463  0.429644 -0.713634
50%   -0.055900  0.743066  0.124792
75%    0.381290  1.246837  0.925118
max    1.246435  1.965781  1.393406

In [47]:
fdf.loc['A', 'c'] = 'NaN'
print(fdf)
fdf.sum()    # exclusing missing values

          a         b         c
A -0.204708  0.478943       NaN
B -0.555730  1.965781   1.39341
C  0.092908  0.281746  0.769023
D  1.246435  1.007189  -1.29622

a    0.578905
b    3.733659
dtype: float64

In [48]:
# correlation
fdf.a.corr(fdf.b)

-0.25459237040175636

In [49]:
# unique values and value counts
ser3 = Series(['a', 'b', 'a', 'c', 'b', 'a'])
print(ser3.unique())
ser3.value_counts()

['a' 'b' 'c']

a    3
b    2
c    1
dtype: int64

In [50]:
# membership
print(ser3.isin(['b', 'c']))
ser3[ser3.isin(['b', 'c'])]

0    False
1     True
2    False
3     True
4     True
5    False
dtype: bool

1    b
3    c
4    b
dtype: object

In [ ]:
# frequency distribution by column
gdf = DataFrame({'q1': [1, 3, 4, 5, 3], 'q2': [2, 2, 3, 5, 1], 
                    'q3': [3, 1, 2, 4, 1]})
print(gdf)
freq = gdf.apply(pd.value_counts).fillna(0)
freq

In [ ]:
# groupby
gdf['q4'] = Series(list('abadb'))
print(gdf)
gdf.groupby('q4').max()